
body{background-color:#99badd;
	font-family: "Titillium", sans-serif;
}

#picUpload {
	position: relative;
	align: right;
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#picUpload #fileupload{
	display:block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor:pointer;
	height:40px;
	line-height:40px;
	text-align:left;
	background:#FFFFFF;
	overflow:hidden;
	position:relative;
}
	
