

body{background-color:#99badd;
	font-family: "Titillium", sans-serif;
}

input[type=file]{
	width: 60%;
   	padding: 12px 20px;
   	margin: 8px 0;
    	box-sizing: border-box;
	font-family: "Titillium", sans-serif;
	text-align: center;
}

input[type=submit]{	
	width: 20%;
	height: 20%;
   	padding: 12px 20px;
   	margin: 8px 0;
    	box-sizing: border-box;
	background:#ADD8E6;
	font-family: "Titillium", sans-serif;


}

#picUpload {
	position: relative;
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#picUpload:hover{
	border-color:#34495e;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#fileupload{
	background:#dce4ec;
 	padding:0 10px;
 	display:inline-block;
 	height:40px;
 	line-height:40px;
}
#picUpload:hover #fileupload{
	background:#34495e;
	color:#FFFFFF;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}


