@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body{background-color:#99badd;
	font-family: "Titillium", sans-serif;
}

input[type=file]{
	width: 60%;
   	padding: 12px 20px;
   	margin: 8px 0;
    	box-sizing: border-box;
	font-family: "Titillium", sans-serif;
	text-align: center;
}

input[type=submit]{	
	width: 20%;
	height: 20%;
   	padding: 12px 20px;
   	margin: 8px 0;
    	box-sizing: border-box;
	background:#ADD8E6;
	font-family: "Titillium", sans-serif;


}

#picUpload {
	position: relative;
	align: right;
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#picUpload:hover{
	border-color:#34495e;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}
#fileupload{
	background:#dce4ec;
 	padding:0 10px;
 	display:inline-block;
 	height:40px;
 	line-height:40px;
}
#picUpload:hover #fileupload{
	background:#34495e;
	color:#FFFFFF;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
}

//drop down

#picSelect{
  @include position(absolute, 50% x x 50%);
  @include transform(translate(-50%, -50%));
  width: 350px;
  height: 370px;
  font-family:"Roboto";
  
  > div {
    padding: 15px 20px;
    position: absolute;
    width: 100%;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  $num: 5;

  @while $num > 0 {
      .input-#{$num} {
          top: #{$num*60}px;
      }
      $num: $num - 1;
  }
  
  > div.input {
    background: #fff;
    color: #777;
    border-radius: 2px;
    box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1) 
  }
  
  > div.input.active {
    color: #1D77EF;
  }
  
  > div.input-preview {
    color: rgba(255,255,255,.75);;
    position: relative;
    transition: .3s all ease;
    
    &.active {
      color: rgba(255,255,255,1);
    }
    
    &:before {
      content:"";
      @include position(absolute, 18px 20px 20px x);
      width: 20px;
      background: rgba(255,255,255,.75);
-webkit-clip-path: polygon(50% 73%, 0 0, 100% 0);
clip-path: polygon(50% 73%, 0 0, 100% 0);
      padding: 10px;
      box-sizing: border-box;
      transition: .3s all ease;
    }
    
    &.active:before {
      background: rgba(255,255,255,1);
      -webkit-clip-path: polygon(50% 0, 0 73%, 100% 73%);
clip-path: polygon(50% 0, 0 73%, 100% 73%);
    }
  } 
}
